<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shop Smart</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet" />
  </head>

  <body>
    <% include ./partial/navbar %>
    <div class="container">

      <%- body -%>

      <hr>
    </div>
    <% include ./partial/footer %>

    <% include ./partial/javascript %>
  </body>
</html>
