<%- layout('layout') -%>

<div class="jumbotron" id="navbarGap">
  <div class="container">
    <h1>Shop Smart , Save Big !</h1>
    <p>Starting point to create something unique...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Explore &raquo;</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Start your search here</h2>
    <p>Our prices is one of the bests on the web!</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Look for smart items?</h2>
    <p>They will appear all over the website as you add them to your cart!</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Build a smart cart</h2>
    <p>The more smart items you buy together, the more you save :)</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
